* {
    text-align: center;
    background-color: #eeeeee;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.font {
    font-family: 'Merriweather', serif;
}

.large, #search_button{
    font-size: 24px;
}

.logo {
    margin: 12px;
    width: 300px;
    height: 150px;
}

#popular_movies_section {
    margin-top: 70px;
}

.popular_movies {
    display: inline-block;
    height: 550px;
    width: 300px;
    margin: 12px;
}

#search_form_section {
    margin-top:70px;
}

.result_page {
    margin-top: 25px;
}

.TMDb {
    color: rgb(1,210,119);
}

.TMDb_SVG {
    width: 100px;
    height: 100px;
}

img {
    max-width: 100%;
    max-height: 500px;
}

ul {
    padding:0;
}

li {
    display: inline-block;
}

button {
    background-color: rgb(1,210,119);
    color: #eeeeee;
    padding: 4px 8px;
    font-size: 16px;
    text-decoration: none;
}

button:disabled {
    background-color: rgb(102, 211, 162);
    cursor: not-allowed;
}

.page_count {
    padding:10px;
}

footer {
    padding-top: 25px;
    text-align: center;
}

.about_app {
    text-align: center;
    padding: 0 15%;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

.clicked_poster {
    height: 550px;
    width: 300px;
}

.overlay {
    display:none;
    position: fixed;
    z-index:20;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color:black;
    overflow: auto;
}

.card_hover {
    width: 100%;
    max-width: 600px;
    background-color: #EEEEEE;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:30;
}

.search_result {
    height: 550px;
    width: 300px;
    margin:12px;
}

.movie_poster {
    width: 100%;
    height: 100%;
    max-width: 300px;
    background-size: cover;
}

.movie_poster:hover {
    filter: brightness(150%)
}

.card_hover .movie_details {
    display: block;
}

.movie_details {
    display: none;
    padding:5%;
}

.movie_details>p {
    line-height: 30px;
}

/* disable scrolling on movie details */
/* need to increase width of movie details responively */
/* Prev/Next button same size */

@media only screen and (min-width : 768px) {
    .logo{
        margin: 12px;
        width: 600px;
        height: 300px;
    }
}
